.App {
  text-align: center;
  width: 100%;
  background-color: cornsilk;
}
.Home {
  margin-top: 10em;
  width: 10em;
  height: 3em;
  position: center;
  font-family: 'Times New Roman', serif;
}

/* Description text in Home page */
.Desc {
  font-family: 'Times New Roman', serif;
  margin: 35px;
  text-align: center;
  height: 100px;
}
.seperator {
  color: chocolate;
  size: 10px;
  align-items: center;
  
}

/* Animating small taxi */
.taxi {
  margin-top: -4em;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}
@keyframes mymove {
  from {right: 0px;}
  to {right: 300px;}
}

